@import "tailwindcss";

body,
#root,
:root {
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
.myNav {
  #second {
    display: none;
  }
  #first,
  #second {
    position: absolute;
    width: 100%;
  }
  #first {
    transform: rotate(45deg);
  }
  #third {
    transform: rotate(-45deg);
  }
}
button {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}
